

    .uputstvo{
        position: absolute;
        top: 1rem;
        left: 3rem;
    }

    .btnUp{
        width: 70px;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    .btnUp:hover{
        background-color: #969696;
    }
    
    .jpName{
        right: -21% !important;
    }
    .naslov{
        inset: 5px 0 auto 0;
        text-align: center;
        margin: 0 auto;
    }
    .main{
        width: 100%;
        display: grid;
        grid-template-columns: 70% 30%;
        margin: 1.2rem 0;
        gap: 1rem;
    }
    .main2{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        margin: 1.2rem 0;
        gap: 1rem;
    }
    .maketa{
        background-image: url('../public/maketa.png');
        background-repeat: no-repeat;
        background-size: cover;

        width: clamp(380px, 786px, 66.7vw);
        height: clamp(364.8px, 757.5px, 64vw);
        justify-self: end;

        position: relative;
    }

    .kontrole{
        width: 20vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 2rem 0 0 7vw;
    }
    .kontrole p{
        position: absolute;
        right: -39%;
    }
    .kontrole2{
        width: 20vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 2rem 0 0 7vw;
    }
    .kontrole2 p{
        position: absolute;
        right: -39%;
    }
    .pDv{
        position: absolute;
        right: -50% !important;
    }
    .btn{
        background-color: #C0C0C0;
        width: clamp(80px, 90px, 10vw);
        height: clamp(30px , 36px, 4vw);
        border-radius: 15px;
        padding: 18px 9px;
        display: grid;
        align-content: center;
        border: 2px solid black !important;
        position: relative;
    }
    .btn3{
        background-color: #C0C0C0;
        width: clamp(125px, 150px, 12vw);
        height: clamp(30px , 36px, 4vw);
        border-radius: 15px;
        padding: 18px 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);

        align-content: center;
        border: 2px solid black !important;
        position: relative;
    }
    .kuglica{
        width: clamp(30px , 30px, 6vw);
        height: clamp(30px , 30px, 3vw);
        border-radius: 100%;
        background-color: var(--white);
        z-index: 100;
        border: 2px solid black !important;
        transition: 0.3s;
    }

    .box{
        background-color: #FF0000;
        width: 5%;
        height: 2.2%;
        position: absolute;
        opacity: 0.8;
    }

    .wrong{
        background-color: orange !important;
    }

    .c1a{
        top: 63.8%;
        left: 4.8%;
        opacity: 0.8;
    }
    .c1b{
        top: 63.8%;
        left: 7.3%;
        opacity: 0.8;
    }
    .c2{
        top: 44%;
        left: 6.2%;
        rotate: 90deg;
        opacity: 0.8;
    }
    .c3{
        top: 45%;
        left: 22.5%;
        opacity: 0.8;
    }
    .c4a{
        top: 35.2%;
        left: 36.5%;
        opacity: 0.8;
        rotate: 90deg;
    }
    .c4b{
        top: 37.8%;
        left: 36.5%;
        opacity: 0.8;
        rotate: 90deg;
    }
    .c5{
        top: 46%;
        left: 54.8%;
        opacity: 0.8;
        rotate: 90deg;
    }
    .c6{
        top: 34.4%;
        left: 63.7%;
        opacity: 0.8;
    }
    .c7{
        top: 45.5%;
        left: 73%;
        opacity: 0.8;
        rotate: 90deg;
    }
    .c8{
        top: 34.4%;
        left: 82%;
        opacity: 0.8;
    }
    .c9{
        top: 45.7%;
        left: 91.3%;
        opacity: 0.8;
        rotate: 90deg;
    }
    .c10a{
        top: 79.5%;
        left: 83.1%;
        opacity: 0.8;
        rotate: 90deg;
    }
    .c10b{
        top: 82.5%;
        left: 83.1%;
        opacity: 0.8;
        rotate: 90deg;
    }
    .c11a{
        top: 79.5%;
        left: 64.8%;
        opacity: 0.8;
        rotate: 90deg;
    }
    .c11b{
        top: 82.5%;
        left: 64.8%;
        opacity: 0.8;
        rotate: 90deg;
    }

    .c12{
        top: 54.4%;
        left: 45.8%;
        opacity: 0.8;
    }
    

    .merenja {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .merenjaBtn{
        display: flex;
        justify-content: center;
    }
    .merenja p{
        font-size: medium;
        font-weight: 700;
        text-align: center;
    }
    .rez{
        border: 2px solid var(--black);
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rez p{
        font-size: large;
    }
    .svi{
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .maketaZaC{
        background-image: url('../public/maketa2C.png');
        background-repeat: no-repeat;
        background-size: cover;

        width: clamp(300px, 400px, 30vw);
        height: clamp(630px, 840px, 63vw);
        margin-bottom: 2rem;
        justify-self: center;

        position: relative;
    }
    .t{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        gap: 1rem;
        padding: 1rem;
    }
    .table{
        padding: 0 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: clamp( 400px, 25vw, 700px);
    }
    .ti{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid black;
        font-size: xx-large;
        border-top: none;
        font-weight: bolder;
    }
    .mj{
        border-left: none;
    }
    .v{
        border-right: none;
        border-left: none;
    }
    .l{
        border-bottom: none;
    }
    .dr{
        background-color: #C0C0C0 !important;
        color: black !important;
    }
    .inp{
        width: 40%;
        min-width: 45px;
        text-align: center;
        background-color: var(--white);
        color: var(--black);
        font-size: large;
        font-weight: 600;
        padding: 10px 0;
    }

    .live{
        position: fixed;
        bottom: 2%;
        right: 2%;
        font-size: large;
        z-index: 1000000;
        user-select: none;
    }
    .x{
        position: absolute;
        top: -1%;
        right: 5%;
        color: black !important;
        user-select: none;
        padding: 0 20px;
        background-color: var(--blue);
        font-weight: 700;
        border-radius: 20px;
        font-size: larger;
    }
    @media(max-width: 650px){
        .noviLeft{
            min-height: 600px;
            padding-bottom: 3rem;
        }
    }

    @media (max-width: 650px) {
        .gap{
            height: 0rem;
        }
        .main{
            grid-template-columns: 1fr;
            grid-template-rows: 370px 400px;
            justify-items: center;
            align-content: center;
        }
        .main2{
            grid-template-columns: 1fr;
            grid-template-rows: 400px 630px 200px;
        }
        .maketaZaC{
            justify-self: center;
        }
        .maketa{
            justify-self: center;
        }
        .kontrole{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 0 3rem;
        }
        .kontrole2{
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .table{
            padding: 2rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 1fr 1fr;
            height: 210px;
        }
        .v{
            border-right: 2px solid black;
        }
        .frame{
            width: 90vw;
        }
    }

    