.maketa{
    background-image: url('../public/maketa.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: clamp(350px, 786px, 75vw);
    height: clamp(336.7px, 757.5px, 72vw);
    margin: 4rem auto;
}
.button1{
    width: clamp(45px, 134.8px, 15%);
    height: clamp(25px ,52px, 5vw);
    top: 69.69%;
    left: 7.2%;
    rotate: 90deg;
    position: relative;
}
.button2{
    position: relative;
    width: clamp(45px, 134.8px, 15%);
    height: clamp(25px ,52px, 5vw);
    top: 51%;
    left: 2%;
}
.button3{
    position: relative;
    width: clamp(45px, 134.8px, 15%);
    height: clamp(25px ,52px, 5vw);
    top: 38%;
    left: 29%;
}
.button4{
    position: relative;
    width: clamp(45px, 134.8px, 15%);
    height: clamp(25px ,52px, 5vw);
    top: 38%;
    left: 33%;
}

.kuglica{
    width: clamp(22.5px, 67.4px, 40%);
    height: clamp(20px ,42px, 4vw);
    border-radius: 100%;
    background-color: var(--white);
    z-index: 100;
    position: absolute;
    inset: 5px auto 5px 5px;
}

.merenja {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}
.merenja p{
    font-size: medium;
    font-weight: 700;
}
.rez{
    border: 2px solid black;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}